/* common */
html {
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.clear {
  clear: both;
}
.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.prof_main {
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.prof_list {
  display: block;
}
.prof_list:after {
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;  
  clear: both; 
  visibility:hidden;
}
.prof_list span {
  display: block;
  float: left;
}
.prof_small{
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.prof_usually {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
/* top */
.head {
  width: 100%;
  background: #ff7200;
}
.head h1 {
  float: left;
}
.head .top_right {
  float: right;
}

/* left_content */
.left_content {
  width: 10%;
  float: left;
}

/* center_content */
.center_content {
  width: 780px;
  float: left;
}
.input_area {
  padding: 0 20px;
  background: yellow;
  position: relative;
}
.input_area .input_switching  {
  margin: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 8px;
}
.input_area .input_switching a {
  width: 100px;
  display: inline-block;
}
.input_area textarea {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* right_content */
.right_content {
  width: 30%;
  float: left;
}
.recommended_area .title {
  background: #aaa; /* カラースキン */
  width: 40%;
  height: 30px;
}
button[type="submit"] {
  border: none;
  width: 29px;
  height: 29px;
  background: url(img/search_btn.png) no-repeat;
  text-indent: 30px;/* text非表示 */
  white-space:nowrap;
  overflow:hidden;
}